{%extends display.mvc%}



{%block body%}


  <div class="me">
    <img src="{{url.base}}/static/images/Javad-Evazzadeh-Kakroudi-2016.jpg" alt='{{site.title}}'>
    <h1>{{site.title}}</h1>

    <a data-direct href="{{url.base}}/blog" class="btn primary myBlogLink">{%trans "Read my blog"%}</a>

    <div class="social">
      <div class="socialToggle">
        <i class="sf-power-off"></i>
      </div>
      <ul>
        <li>
          <a class="socialLink" data-direct target="_blank" href="https://www.facebook.com/{{social.facebook}}">
            <i class="sf-facebook-official"></i>
            <span>Facebook</span>
          </a>
        </li>
        <li>
          <a class="socialLink" data-direct target="_blank" href="https://twitter.com/{{social.twitter}}">
            <i class="sf-twitter"></i>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a class="socialLink" data-direct target="_blank" href="https://instagram.com/{{social.instagram}}">
            <i class="sf-instagram"></i>
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a class="socialLink" data-direct target="_blank" href="
          https://ir.linkedin.com/in/{{social.linkedin}}/">
            <i class="sf-linkedin"></i>
            <span>Linkedin</span>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="rainSound">
    <audio id="audioplayer" loop="loop">
      <source src="{{url.static}}/static/audio/rain.4p" type="audio/mp4" />
      <source src="{{url.static}}/static/audio/rain.3p" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>

  <p class="nosupport">Sorry, but your browser does not support WebGL!</p>

  <div class="bg">
    <canvas id="rainBox"></canvas>
  </div>
  <div class="loadingBg">
    <div class="loadingLeft"></div>
    <div class="loadingRight"></div>
  </div>
  <div class="preloadWrapper">
    <div class="loader"></div>
  </div>

{%endblock%}



{%block foot_js%}

  <script src="{{url.base}}/static/js/rain.js"></script>
  <script src="{{url.base}}/static/js/loading.js"></script>
  <script src="{{url.base}}/static/js/social.js"></script>
  <script src="{{url.base}}/static/js/rainSound.js"></script>

{%endblock%}

