{%extends display.mvc%}



{%block body%}


  <div class="me">
    <img src="{{url.base}}/static/images/Javad-Evazzadeh-Kakroudi-2016.jpg" alt='{{site.title}}'>
    <h1>{{site.title}}</h1>


    <div class="social">
      <button class="socialToggle">
        <i class="socialIcon sf-share-2"></i>
      </button>
      <ul>
        <li>
          <a class="socialLink" data-direct target="_blank" href="https://www.facebook.com/{{social.facebook}}">
            <i class="socialIcon sf-facebook-official"></i>
          </a>
        </li>
        <li>
          <a class="socialLink" data-direct target="_blank" href="https://twitter.com/{{social.twitter}}">
            <i class="socialIcon sf-twitter"></i>
          </a>
        </li>
        <li>
          <a class="socialLink" data-direct target="_blank" href="https://instagram.com/{{social.instagram}}">
            <i class="socialIcon sf-instagram"></i>
          </a>
        </li>
        <li>
          <a class="socialLink" data-direct target="_blank" href="https://www.linkedin.com/{{social.linkedin}}">
            <i class="socialIcon sf-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>


  </div>


  <p class="nosupport">Sorry, but your browser does not support WebGL!</p>


  <div class="bg">
    <canvas id="rainBox"></canvas>
  </div>
  <div class="loadingBg">
    <div class="loadingLeft"></div>
    <div class="loadingRight"></div>
  </div>
  <div class="preloadWrapper">
    <div class="loader"></div>
  </div>

{%endblock%}



{%block foot_js%}

  <!-- <script src="{{url.base}}/static/js/rain.js"></script> -->
  <script src="{{url.base}}/static/js/loading.js"></script>
  <script src="{{url.base}}/static/js/social.js"></script>

{%endblock%}

