{%extends display.mvc%}



{%block body%}
  <div class="preloadWrapper">
    <div class="loader"></div>
  </div>
  <div class="loadingBg">
    <div class="loadingLeft"></div>
    <div class="loadingRight"></div>
  </div>


  <div class="me">
    <img src="{{url.base}}/static/images/Javad-Evazzadeh-Kakroudi-2016.jpg" alt='{{site.title}}'>
    <h1>{{site.title}}</h1>
  </div>

  <div class="bg">
    <canvas id="rainBox"></canvas>
  </div>

  <p class="nosupport">Sorry, but your browser does not support WebGL!</p>
{%endblock%}



{%block foot_js%}

  <!-- <script src="{{url.base}}/static/js/rain.js"></script> -->
  <!-- <script src="{{url.base}}/static/js/loading.js"></script> -->

{%endblock%}

