
.bg {
	position: relative;
	height: 100vh;
	width: 100vw;
	background: url(../img/city.jpg) no-repeat center top;
	background-size: cover;
	overflow: hidden;
}

.bg::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
}
body.resized #rainBox{
	display: none
}
#rainBox{
	position:absolute;
	z-index: 0;
	width:1px;
	height:1px;
}
.nosupport {
	display: none;
	margin: 0 auto;
	font-size: 1.25em;
	padding: 1em;
	position: fixed;
	bottom: 0;
	width: 100vw;
	text-align: center;
	background: #a74e71;
	z-index: 7;
}
.no-webgl .nosupport {
	display: block;
}

.me{
	position: absolute;
	overflow: hidden;
	top: 20%;
	margin: 0 auto;
	display: block;
	right: 0;
	left:0;
	z-index: 7;
	text-align: center;
	font-size: 1.4em;
}
.me img{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin: 0 auto 1em;
	display: block;
	transition:0.3s;
}
.me h1{
	font-weight: 900;
	color: #eee;
}
body.loading .me{
	/*top: 5%;*/
}
body.loading .me h1{
	opacity: 0
}
body.loading .me img{
	margin-top: 50px;
	width: 150px;
	height: 150px;
}



/* loading background*/
.loadingBg div{
	position:fixed;
	top:0;
	width:51%;
	height:100%;
	z-index:5;
	-webkit-transform:translateX(0);
	-ms-transform:translateX(0);
	transform:translateX(0);
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
}
.loadingBg .loadingLeft
{
	left:0
}

.loadingBg .loadingRight
{
	right:0
}

body.loaded .loadingBg .loadingLeft
{
	-webkit-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	transform:translateX(-100%);
	-webkit-transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000);
	transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000)
}

body.loaded .loadingBg .loadingRight
{
	-webkit-transform:translateX(100%);
	-ms-transform:translateX(100%);
	transform:translateX(100%);
	-webkit-transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000);
	transition:all .7s .3s cubic-bezier(0.645,0.045,0.355,1.000)
}

/*loading loader*/
.preloadWrapper
{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	z-index:10
}

.preloadWrapper .loader
{
	display:block;
	position:relative;
	top: 20%;
	width:250px;
	height:250px;
	margin: 0 auto 0;
	border-radius:50%;
	border:3px solid transparent;
	border-top-color:#3498db;
	overflow: hidden;
	-webkit-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}

.preloadWrapper .loader:before
{
	content:"";
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	border-radius:50%;
	border:3px solid transparent;
	border-top-color:#e74c3c;
	-webkit-animation:spin 3s linear infinite;
	animation:spin 3s linear infinite
}

.preloadWrapper .loader:after
{
	content:"";
	position:absolute;
	top:25px;
	left:25px;
	right:25px;
	bottom:25px;
	border-radius:50%;
	border:3px solid transparent;
	border-top-color:#f9c922;
	-webkit-animation:spin 1.5s linear infinite;
	animation:spin 1.5s linear infinite
}

@-webkit-keyframes spin {
	0%
	{
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg)
	}

	100%
	{
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}

@keyframes spin {
	0%
	{
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg)
	}

	100%
	{
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}



.loaded .preloadWrapper .loader
{
	opacity:0;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out
}

.loaded .preloadWrapper
{
	visibility:hidden;
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
	-webkit-transition:all .3s 1s ease-out;
	transition:all .3s 1s ease-out
}
